.bone-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #41894e; 
    border-bottom: 6px solid #ff8fd4;
    padding: 4px 8px;
    font-family: "Press Start 2P", monospace; /* pixel font */
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .nav-logo{
    width: 10%;
    height: 10%;
  }
  
  .nav-title {
    font-size: 14px;
    color: #f7e7ce;
    text-shadow: 2px 2px #3b2a22;
  }
  
  .nav-links button {
    margin-left: 12px;
    background: #fff3fe;
    border: 3px solid #ffadda;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    color: #004711;
    font-family: "Press Start 2P", monospace;
    transition: transform 0.1s ease, background 0.1s ease;
  }
  
  .nav-links button:hover {
    background: #e7d8bf;
    transform: translateY(-2px);
  }
  
  .nav-links button:active {
    transform: translateY(1px);
  }
  